page {
  background-color: rgba(229, 234, 245, 1);

}


.today {
  text-align: center;
  padding: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  padding: 88px 44px;

  view {
    box-sizing: border-box;
  }

  .banner {
    border-radius: 18px;
    // background-color: #fff;
    // padding: 10px;
    border: 10px solid #fff;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(149, 183, 251, 1) 0%, rgba(102, 147, 255, 1) 49%, rgba(72, 120, 249, 1) 100%);

    .back {
      height: 884px;
      border-radius: 18px;
      padding: 40px;
      padding-right: 30px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      background: url('../../assets/images/banner_bgc.png') 20px 40px no-repeat;
      background-size: 506px, 596px;
    }

    .date {
      flex: 1;
      text-align: right;

      .date_box {
        display: inline-block;
        text-align: center;
      }

      .day {
        font-size: 98px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        line-height: 1em;
      }

      .datetime {
        height: 40px;
        font-size: 29px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.6);
        line-height: 40px;
      }
    }

    .problem {
      font-size: 43px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
      line-height: 60px;
      text-align: left;
    }

    .problem.zh {
      font-size: 29px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.6);
      line-height: 40px;
      text-align: left;
    }

    .progress {
      height: 36px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 18px;
      border: 0px solid rgba(151, 151, 151, 1);
      margin-top: 36px;
      margin-bottom: 46px;

      .bar {
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 1);
        border-radius: 18px;
        border: 0px solid rgba(151, 151, 151, 1);
      }
    }

    .footer {
      height: 36px;
      font-size: 25px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.3);
      line-height: 36px;
      display: flex;
      justify-content: space-between;
    }
  }

  .bottom_box {
    padding-top: 80px;
    display: flex;
    font-size: 22px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(94, 130, 245, 1);
    line-height: 31px;

    .at-icon {
      font-size: 25px;
      margin-right: 4px;
    }

    .to_lc {
      background: rgba(94, 130, 245, 1);
      border-radius: 18px;
      font-size: 22px;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
      line-height: 36px;
      line-height: 72px;
      width: 260px;
      height: 72px;
      background: rgba(94, 130, 245, 1);
      border-radius: 36px;
    }
  }

  .bottom_r {
    margin-left: 98px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-right: 43px;

    .ranking {
      line-height: 72px;
    }

    .share {
      line-height: 72px;

      button {
        &::after {
          display: none;
        }

        line-height: 72px;
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;
        font-size: 22px;
        color: rgba(94, 130, 245, 1);
      }
    }
  }

  .at-action-sheet__header {
    font-size: 24px;
    line-height: 100px;
  }

  .at-action-sheet__container {
    font-size: 29px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(11, 11, 51, 1);
  }
}

.today.show_share {
  padding: 0;

  .banner {
    padding: 0;
    border: none;
    border-radius: 0;
  }

  .back {
    height: 600px;
    border: none;
    border-radius: 0;
    background: url('../../assets/images/banner_bgc.png') 40px 40px no-repeat;
    background-size: 320px, 377px;

    .day {
      font-size: 108px;
    }

    .problem {
      font-style: 48px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.zh {
        font-size: 32px;
      }
    }
  }

  .bottom_box {
    opacity: 0;
  }
}
