@import "~taro-ui/dist/style/components/icon.scss";

page {
  background-color: rgba(229, 234, 245, 1);

}

.today {
  text-align: center;
  padding: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  padding: 88px 44px;

  view {
    box-sizing: border-box;
  }

  .banner {
    border-radius: 18px;
    background-color: #fff;
    padding: 10px;

    .back {
      height: 884px;
      border-radius: 18px;
      padding: 40px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      background: linear-gradient(135deg, rgba(149, 183, 251, 1) 0%, rgba(102, 147, 255, 1) 49%, rgba(72, 120, 249, 1) 100%);
    }

    .date {
      flex: 1;
      text-align: right;

      .day {
        font-size: 98px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        line-height: 136px;
      }

      .datetime {

        height: 40px;
        font-size: 29px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.6);
        line-height: 40px;
      }
    }

    .problem {
      height: 60px;
      font-size: 43px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
      line-height: 60px;
      text-align: left;
    }

    .problem.zh {
      height: 40px;
      font-size: 29px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.6);
      line-height: 40px;
      text-align: left;
    }

    .progress {
      height: 36px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 18px;
      border: 0px solid rgba(151, 151, 151, 1);
      margin-top: 36px;
      margin-bottom: 46px;

      .bar {
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 1);
        border-radius: 18px;
        border: 0px solid rgba(151, 151, 151, 1);
      }
    }

    .footer {
      height: 36px;
      font-size: 25px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.3);
      line-height: 36px;
      display: flex;
      justify-content: space-between;
    }
  }

  /*   .statistical {
    margin-top: 100px;
    height: 186px;
    padding: 24px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;

    .card {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-family: STYuanti-SC-Bold,
        STYuanti-SC;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
      line-height: 33px;
      height: 138px;

      .number {
        font-size: 46px;
        font-family: STYuanti-SC-Bold, STYuanti-SC;
        font-weight: bold;
        line-height: 65px;
        color: #1CC88A;
      }

    }

    .over {
      border-left: 1px solid rgba(238, 238, 238, 1);

      .number {
        color: #36B9CC;
      }
    }

    .ratio {
      border-left: 1px solid rgba(238, 238, 238, 1);

      .number {
        color: #F6C23E;
      }
    }
  } */

  .to_lc {
    height: 80px;
    background: rgba(94, 130, 245, 1);
    border-radius: 18px;
    font-size: 25px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 36px;
    line-height: 80px;
    margin-top: 80px;
  }

  .share {
    margin-top: 50px;
    padding-bottom: 10px;
    height: 120px;

    // text-align: right;
    button {
      padding: 0;
      background: transparent;
      border-radius: 50%;
      // border: 2px solid #ccc;
      line-height: 80px;
      color: #666;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      box-shadow: 0 0 10px rgb(179, 173, 173);
      float: right;

      &::after {
        display: none;
      }

      .at-icon {
        font-size: 40px;
      }

      text {
        line-height: 1em;
        margin-top: 10px;
        font-size: 26px;
      }
    }
  }
}
