.avatar_state_label {
  position: relative;
  color: white;
}

.card_container {
  margin: 10px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 0px solid rgba(151, 151, 151, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
}
